1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [7]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [9]:
media = [sum(lista)/len(lista) for lista in lista_de_listas]
media

[6.0, 2.5, 4.0]

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [13]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [18]:
terceiro_elemento = [lista[2] for lista in lista_de_tuplas]
terceiro_elemento

[81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [4]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [10]:
primeiro_elemento = [(lista[elemento][0]) for elemento in range(len(lista))]
primeiro_elemento

['P', 'J', 'O', 'E']

In [12]:
lista_de_tuplas = list(zip(primeiro_elemento, lista))
lista_de_tuplas

[('P', 'Pedro'), ('J', 'Júlia'), ('O', 'Otávio'), ('E', 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [15]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [17]:
aluguel_apartamentos = [aluguel[i][1] for i in range(len(aluguel)) if aluguel[i][0] == 'Apartamento']
aluguel_apartamentos

[1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [20]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [40]:
meses_despesa = dict(zip(meses, despesa)) #Foi a forma que encontrei de fazer, mas não está usando dict comprehension.
print(meses_despesa)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

In [48]:
dicionario = {meses[i]: despesa[i] for i in range(len(meses))}
print(dicionario) #Usando dict comprehension.

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [71]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [75]:
vendas_filtradas = [vendas[i][1] for i in range(len(vendas)) if (vendas[i][0] == '2022' and vendas[i][1] >= 6000)]
vendas_filtradas

[8883, 7688, 9544, 8190]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

* Glicose igual ou inferior a 70: 'Hipoglicemia'
* Glicose entre 70 a 99: 'Normal'
* Glicose entre 100 e 125: 'Alterada'
* Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [78]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [118]:
hipoglicemia = [('Hipoglicemia', glicemia[i]) for i in range(len(glicemia)) if glicemia[i] <=70]
print(rotulo)

[('Normal', 82), ('Normal', 97), ('Normal', 87), ('Normal', 92), ('Normal', 86), ('Normal', 96), ('Normal', 88), ('Normal', 89), ('Normal', 73)]

In [120]:
normal = [('Normal', glicemia[i]) for i in range(len(glicemia)) if glicemia[i] > 70 and glicemia[i] <= 99]
print(normal)

[('Normal', 82), ('Normal', 97), ('Normal', 87), ('Normal', 92), ('Normal', 86), ('Normal', 96), ('Normal', 88), ('Normal', 89), ('Normal', 73)]

In [124]:
alterada = [('Alterada', glicemia[i]) for i in range(len(glicemia)) if glicemia[i] > 100 and glicemia[i] <= 125]
print(alterada)

[('Alterada', 101), ('Alterada', 120), ('Alterada', 109), ('Alterada', 103)]

In [128]:
diabetes = [('Diabetes', glicemia[i]) for i in range(len(glicemia)) if glicemia[i] > 125]
print(diabetes)

[('Diabetes', 129), ('Diabetes', 167), ('Diabetes', 155)]

In [132]:
rotulo = hipoglicemia, normal, alterada, diabetes
print(rotulo) #essa é a forma demorada e não tão boa de se fazer.

([('Hipoglicemia', 60), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Hipoglicemia', 66), ('Hipoglicemia', 62), ('Hipoglicemia', 52)], [('Normal', 82), ('Normal', 97), ('Normal', 87), ('Normal', 92), ('Normal', 86), ('Normal', 96), ('Normal', 88), ('Normal', 89), ('Normal', 73)], [('Diabetes', 129), ('Diabetes', 167), ('Diabetes', 155)], [('Diabetes', 129), ('Diabetes', 167), ('Diabetes', 155)])

In [142]:
rotulos = [('Hipoglicemia', glicemia[i]) if glicemia[i] <= 70 else ('Normal', glicemia[i]) if glicemia[i] > 70 and glicemia[i] <= 99 else 
           ('Alterada', glicemia[i]) if glicemia[i] >= 100 and glicemia[i] <= 125 else ('Diabetes', glicemia[i]) if glicemia[i] 
           else 'Algo errado' > 125 for i in range(len(glicemia))] #forma rápida de se fazer, mas bastante confusa.
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:* * 
id = [0, 1, 2, 3, 4, 5, 6, 7, 8,9* 
* ]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12,  * 
* 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0,.0]d
igo
O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [223]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [225]:
tabela = [[id[i], quantidade[i], preco[i], quantidade[i]*preco[i]] for i in id]
print(tabela)

[[0, 15, 93.0, 1395.0], [1, 12, 102.0, 1224.0], [2, 1, 18.0, 18.0], [3, 15, 41.0, 615.0], [4, 2, 122.0, 244.0], [5, 11, 14.0, 154.0], [6, 2, 71.0, 142.0], [7, 12, 48.0, 576.0], [8, 2, 14.0, 28.0], [9, 4, 144.0, 576.0]]

In [253]:
coluna = [{'id': tabela[i][0], 'quantidade': tabela[i][1], 'preco': tabela[i][2], 'total': tabela[i][3]} for i in range(len(tabela))]
coluna

[{'id': 0, 'quantidade': 15, 'preco': 93.0, 'total': 1395.0},
 {'id': 1, 'quantidade': 12, 'preco': 102.0, 'total': 1224.0},
 {'id': 2, 'quantidade': 1, 'preco': 18.0, 'total': 18.0},
 {'id': 3, 'quantidade': 15, 'preco': 41.0, 'total': 615.0},
 {'id': 4, 'quantidade': 2, 'preco': 122.0, 'total': 244.0},
 {'id': 5, 'quantidade': 11, 'preco': 14.0, 'total': 154.0},
 {'id': 6, 'quantidade': 2, 'preco': 71.0, 'total': 142.0},
 {'id': 7, 'quantidade': 12, 'preco': 48.0, 'total': 576.0},
 {'id': 8, 'quantidade': 2, 'preco': 14.0, 'total': 28.0},
 {'id': 9, 'quantidade': 4, 'preco': 144.0, 'total': 576.0}]

In [261]:
#Uma outra forma de fazer 

tabela = [('id', 'quantidade', 'preco', 'total')]
tabela += [(id[i], quantidade[i], preco[i], quantidade[i]*preco[i]) for i in range(len(id))]

tabela

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence:

* estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

In [264]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

In [305]:
estados_unicos = list(set(estados))
estados_unicos

['ES', 'SP', 'MG', 'RJ']

In [319]:
estado_es = estado_sp = estado_mg = estado_rj = 0

for i in estados:
    if i == estados_unicos[0]:
        estado_es += 1
    elif i == estados_unicos[1]:
        estado_sp += 1
    elif i == estados_unicos[2]:
        estado_mg += 1
    elif i == estados_unicos[3]:
        estado_rj += 1
    else:
        print('erro')
lista_de_valores = estado_es, estado_sp, estado_mg, estado_rj
lista_de_valores

(6, 8, 7, 2)

In [321]:
estado_quantidade = {estados_unicos[i]: lista_de_valores[i] for i in range(len(lista_de_valores))}
estado_quantidade

{'ES': 6, 'SP': 8, 'MG': 7, 'RJ': 2}

In [327]:
# Outra forma de fazer
# Armazenando os estados sem repetição de valor
estados_unicos = list(set(estados))

# Criando uma lista de listas com valores repetidos de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário em que a chave é o nome de cada estado único e o valor é a contagem de elementos
contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(contagem_valores)

[['ES', 'ES', 'ES', 'ES', 'ES', 'ES'], ['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG'], ['RJ', 'RJ']]
{'ES': 6, 'SP': 8, 'MG': 7, 'RJ': 2}

10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)igo
A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

In [421]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), 
                ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), 
                ('MG', 12)]

In [423]:
lista_estados = [funcionarios[estado][0] for estado in range(len(funcionarios))]
print(lista_estados)

['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

In [425]:
estados_unicos = list(set(lista_estados))
print(estados_unicos)

['ES', 'SP', 'MG', 'RJ']

In [487]:
func_es = func_sp = func_mg = func_rj = []
func_es = [funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estados_unicos[0]]
func_sp = [funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estados_unicos[1]]
func_mg = [funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estados_unicos[2]]
func_rj = [funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estados_unicos[3]]
func_todos = func_es, func_sp, func_mg, func_rj

In [493]:
estados_func = {estados_unicos[i]: func_todos[i] for i in range(len(estados_unicos))}
estados_soma = {estados_unicos[i]: sum(func_todos[i]) for i in range(len(estados_unicos))}
print(estados_func)
print(estados_soma)

{'ES': [8, 9, 7, 12, 8, 14], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'MG': [9, 6, 4, 8, 5, 10, 12], 'RJ': [13, 9]}
{'ES': 58, 'SP': 82, 'MG': 54, 'RJ': 22}

In [495]:
# Uma outra forma
# Armazenando os estados sem repetição de valor
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

# Criando uma lista de listas com valores de funcionários de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário com dados agrupados de funcionário por estado
agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

# Criando um dicionário com a soma de funcionários por estado
soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

[[8, 9, 7, 12, 8, 14], [16, 10, 7, 11, 9, 12, 7, 10], [9, 6, 4, 8, 5, 10, 12], [13, 9]]
{'ES': [8, 9, 7, 12, 8, 14], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'MG': [9, 6, 4, 8, 5, 10, 12], 'RJ': [13, 9]}
{'ES': 58, 'SP': 82, 'MG': 54, 'RJ': 22}