<a href="https://colab.research.google.com/github/semogela/python-licoes/blob/main/Exerc%C3%ADcios_26_11_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

* A leitura do tamanho da lista
* A leitura do maior e menor valor
* A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores presentes nela é igual a [soma]"

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

In [ ]:
len(lista)

17

In [ ]:
##min(lista)

11

In [ ]:
##max(lista)

99

In [ ]:
sum(lista)

743

In [ ]:
print(f'A lista possui {len(lista)} números em que o maior número é {max(lista)} e o menor '
 f'número é {min(lista)}. A soma dos valores presentes nela é igual a {sum(lista)}')

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

## ***

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70

In [ ]:
valor = float(input('Digite um número para calcularmos a tabuada: '))

resultado = list(map(lambda x: valor * x, range(11)))

print(f'Tabuada do {valor}: ')
for i in range(11):
    print(f'{valor} x {i} = {resultado[i]}')

Digite um número para calcularmos a tabuada: 7
Tabuada do 7.0:
7.0 x 0 = 0.0
7.0 x 1 = 7.0
7.0 x 2 = 14.0
7.0 x 3 = 21.0
7.0 x 4 = 28.0
7.0 x 5 = 35.0
7.0 x 6 = 42.0
7.0 x 7 = 49.0
7.0 x 8 = 56.0
7.0 x 9 = 63.0
7.0 x 10 = 70.0

## ***

Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

Utilize o return na função e salve a nova lista na variável mult_3.

In [ ]:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

mult_3 = list(filter(lambda x: x % 3 == 0, lista))
mult_3

[24, 99]

## ***

Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [ ]:
import math
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

quadrado_lista = list(map(lambda x: math.pow(x, 2), lista))
quadrado_lista

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]

## ***

Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

In [125]:
nota = list(map(lambda x: float(input(f'Digite a {x + 1}ª nota: ')), range(5)))

Digite a 1ª nota: 10
Digite a 2ª nota: 2
Digite a 3ª nota: 1
Digite a 4ª nota: 6
Digite a 5ª nota: 8

In [126]:
maior = max(nota)
nota.remove(maior)

In [127]:
menor = min(nota)
nota.remove(menor)

In [128]:
media = sum(nota) / len(nota)
print(f'A nota da skatista é: {media}')

A nota da skatista é: 5.333333333333333

## ***

Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:

*   Maior nota
*   Menor nota
*   Média
*   Situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:

"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] e foi [situacao].

In [133]:
def dados_desempenho(notas):
  maior_nota = max(notas)
  menor_nota = min(notas)
  media = sum(notas) / len(notas)
  if media >= 6:
    situacao = True
  else:
    situacao = False
  return maior_nota, menor_nota, media, situacao

In [134]:
lista_de_notas = list(map(lambda x: float(input(f'Digite a {x + 1}ª nota: ')), range(4)))

Digite a 1ª nota: 2
Digite a 2ª nota: 1
Digite a 3ª nota: 3
Digite a 4ª nota: 1

In [138]:
resultado = dados_desempenho(lista_de_notas)
print(f'Maior nota: {resultado[0]}\nMenor nota: {resultado[1]}\n'
      f'Média: {resultado[2]}')
if resultado[3] == True:
  print('Aprovada(o)!')
else:
  print('Reprovado.')

Maior nota: 3.0
Menor nota: 1.0
Média: 1.75
Reprovado.

## ***

Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:

nomes = ["joão", "MaRia", "JOSÉ"]

sobrenomes = ["SILVA", "souza", "Tavares"]

O texto exibido ao fim deve ser parecido com:

"Nome completo: Ana Silva"

In [151]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

In [154]:
nomes = list(map(lambda x: x.lower(), nomes))
nomes = list(map(lambda x: x.capitalize(), nomes))

In [155]:
sobrenomes = list(map(lambda x: x.lower(), sobrenomes))
sobrenomes = list(map(lambda x: x.capitalize(), sobrenomes))

In [157]:
for i in range(len(nomes)):
  print(f'Nome completo: {nomes[i]} {sobrenomes[i]}')

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares