<a href="https://colab.research.google.com/github/semogela/python-licoes/blob/main/Exerc%C3%ADcios_26_11_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

A leitura do tamanho da lista
A leitura do maior e menor valor
A soma dos valores da lista
Ao final exiba uma mensagem dizendo:

"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores presentes nela é igual a [soma]"

In [14]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

In [15]:
len(lista)

17

In [18]:
min(lista)

11

In [19]:
max(lista)

99

In [20]:
sum(lista)

743

In [22]:
print(f'A lista possui {len(lista)} números em que o maior número é {max(lista)} e o menor '
 f'número é {min(lista)}. A soma dos valores presentes nela é igual a {sum(lista)}')

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

## ***

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70

In [28]:
valor = float(input('Digite um número para calcularmos a tabuada: '))

resultado = list(map(lambda x: valor * x , range(11)))

print(f'Tabuada do {valor}: ')
for i in range(11):
    print(f'{valor} x {i} = {resultado[i]}')

Digite um número para calcularmos a tabuada: 7
Tabuada do 7.0:
7.0 x 0 = 0.0
7.0 x 1 = 7.0
7.0 x 2 = 14.0
7.0 x 3 = 21.0
7.0 x 4 = 28.0
7.0 x 5 = 35.0
7.0 x 6 = 42.0
7.0 x 7 = 49.0
7.0 x 8 = 56.0
7.0 x 9 = 63.0
7.0 x 10 = 70.0

## ***

Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

Utilize o return na função e salve a nova lista na variável mult_3.

4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [30]:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

mult_3 = list(filter(lambda x: x % 3 == 0, lista))
mult_3

[24, 99]